Source: ros-melodic-warehouse-ros
Section: misc
Priority: optional
Maintainer: MoveIt! Release Team <moveit_releasers@googlegroups.com>
Build-Depends: debhelper (>= 9.0.0), libgtest-dev, ros-melodic-catkin, ros-melodic-geometry-msgs, ros-melodic-pluginlib (>= 1.11.2), ros-melodic-roscpp, ros-melodic-rostest, ros-melodic-rostime, ros-melodic-std-msgs, ros-melodic-tf
Homepage: http://ros.org/wiki/warehouse_ros
Standards-Version: 3.9.2

Package: ros-melodic-warehouse-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-melodic-geometry-msgs, ros-melodic-pluginlib (>= 1.11.2), ros-melodic-roscpp, ros-melodic-rostime, ros-melodic-std-msgs, ros-melodic-tf
Description: Persistent storage of ROS messages
